@import 'responsive.sсss';

.contacts {
	background: #F2F3F5;
	padding: 100px 0;
	@include media(mdx) {
		padding: 54px 0;
	}
	&__wrap {
		display: flex;
		@include media(mdx) {
			display: block;	
		}
	}
	&__title {
		font-size: 32px;
		line-height: 1.2;
		text-transform: uppercase;
		margin-right: auto;
		padding-right: 30px;
		font-weight: 700;
		font-family: 'Helvetica';
		@include media(mdx) {
			padding-bottom: 30px;
		}
		&+.contacts__list {
			padding-left: 0px;
			&+.contacts__list {
				@include media(mdx) {
					position: relative;
					padding-top: 26px;
					margin-top: 26px;
				}
				&:after {
					@include media(mdx) {
						position: absolute;
						content: '';
						top: 0px;
						left: 0px;
						width: 70px;
						height: 1px;
						background-color: #2965FF;
					}
				}
			}
		}
	}
	
	&__list {
		border-right: 1px solid #2965FF;
		padding: 4px 30px;
		@include media(mdx) {
			column-count: 1;
			border: none;
			padding: 0px;
		}
		li:not(:last-child):not(:nth-child(3)) {
			margin-bottom: 16px;
		}
	}
	&__link {
		display: inline-block;
		white-space: nowrap;
		font-size: 16px;
		line-height: 1.2;
		color: #181818;
		font-weight: 500;
		font-family: 'GothamPro';
		transition: 0.25s color;
		&:hover {
			color: #2965FF;
		}
	}
	&__block {
		padding: 4px 32px;
		border-right: 1px solid #2965FF;
		@include media(mdx) {
			position: relative;
			border-right: none;
			padding: 26px 0;
			margin: 26px 0;

		}
		&:after {
			@include media(mdx) {
				position: absolute;
				content: '';
				top: 0px;
				left: 0px;
				width: 70px;
				height: 1px;
				background-color: #2965FF;
			}
		}
		&:before {
			@include media(mdx) {
				position: absolute;
				content: '';
				bottom: 0px;
				left: 0px;
				width: 70px;
				height: 1px;
				background-color: #2965FF;
			}
		}
		.contacts__elem:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__elem {
		display: block;
		width: max-content;
		font-size: 16px;
		color: #000000;
		font-weight: 500;
		font-family: 'GothamPro';
		transition: 0.25s color;
		&:hover {
			color: #2965FF;
		}
	}
	&__address {
		display: block;
		max-width: 264px;
		font-size: 16px;
		line-height: 1.37;
		color: #000000;
		padding-left: 30px;
		padding-top: 4px;
		font-family: 'GothamPro';
		font-weight: 500;
		@include media(mdx) {
			padding: 0px;
		}
		a {
			color: #000000;
		}
	}
}