@import 'responsive.sсss';

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;	
	z-index: 12;
	border-bottom: 2px solid #E0E6F5;
	background: rgba(232, 238, 255, 0.66);
	.nav__toggle {
		display: none;
		@include media(mdx) {
			display: block;
		}
	}
	&.header-control {
		background-color: rgba(232, 238, 255, 1);
		.header__link {
			padding: 23px 20px;
			@include media(lgxs) {
				padding: 21px 16px;
			}
		}
		.header__title {
			padding: 18px 0;
			@include media(mdx) {
				padding: 19px 0;
			}
		}
	}
	&+section {
		padding-top: 98px;
		@include media(mdx) {
			padding-top: 64px;
		}
	}
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		font-size: 24px;	
		line-height: 1.2;	
		color: #181818;
		text-transform: uppercase;
		padding: 34px 0;
		font-weight: 700;	
		font-family: 'Helvetica';
		transition: 0.25s padding;
		@include media(lgxs) {
			font-size: 20px;
		}
		@include media(mdx) {
			padding: 19px 0;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		@include media(mdx) {
			display: none;
		}
	}
	&__link {
		display: block;
		font-size: 16px;
		line-height: 1.2;
		color: #181818;
		padding: 39px 20px;
		font-weight: 700;
  		font-family: 'GothamPro';
  		transition: 0.25s color, 0.25s padding;
  		@include media(lgxs) {
  			padding: 39px 16px;
  		}
  		&--active {
  			color: #2965FF;
  			background: #E0E6F5;
  		}
  		&:hover {
  			&:not(.header__link--active) {
  				color: #2965FF;
  			}
  		}
	}
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 5px;
	width: 12px;
	height: 2px;
	background-color: #2965FF;
	transition: 0.5s width;
	&:after,
	&:before {
		content: '';
		position: absolute;
		width: 20px;
		height: 2px;
		background-color: #3A3A3A;
		left: 0px;
		transition: 0.5s;
	}
		
	&:after {
		top: calc(100% + 5px);
	}
	&:before {
		bottom: calc(100% + 5px);
	}
}


.line-active {
    top: calc(50% + 2px);
	left: 10px;
	width: 0;
	&:after,
	&:before {
		width: 12px;
	}
	&:after {
		top: 2px;
		transform: rotate(-45deg);
		transform-origin: 0 0;
		background-color: #2965FF;
	}
		
	&:before {
		bottom: 7px;
		transform: rotate(45deg);
		transform-origin: 0 100%;
	}
		
}
	
.nav__toggle {
	position: relative;
	cursor: pointer;
	display: block;
	width: 30px;
	height: 30px;
}
	